@use "@/assets/scss/base/media" as *;

html {
  color-scheme: dark;

  --brand: #d0d6f9;

  --link: var(--text-1);
  --link-visited: var(--grape-3);

  --text-1: #ffffff;
  --text-2: var(--brand);

  --surface-1: #0b0d17;

  --shadow-color: 220 3% 65%;
}

body {
  color: var(--text-1);
  background-color: var(--surface-1);
}
