@use "@/assets/scss/base/media" as *;

.content .destination {
  background-image: url("@/assets/destination/background-destination-desktop.jpg");
  background-size: cover;
  min-height: 100vh;
  width: 100vw;
}

@media ($lg-n-below) {
  .content .destination {
    background-image: url("@/assets/destination/background-destination-tablet.jpg");
  }
}

@media ($sm-n-below) {
  .content .destination {
    background-image: url("@/assets/destination/background-destination-mobile.jpg");
  }
}

.destination {
  .content-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: var(--size-7);
    align-items: center;
  }

  .content {
    display: flex;
    flex-direction: column;

    h1 {
      line-height: var(--font-lineheight-3);
    }
  }

  .content-info {
    border-top: 2px solid #ffffff25;
    padding-top: var(--size-4);
    margin-top: var(--size-5);
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: var(--size-9);
  }
}

.dest-nav {
  ul {
    display: flex;
    flex-direction: row;
    gap: var(--size-8);
    list-style-type: none;
    margin: 0;
    padding: 0;

    li {
      padding: 0;
      padding-block: 1px;

      a {
        border-bottom: 2px solid transparent;
        display: block;
        padding: var(--size-2) 0;
        text-decoration: none;
        white-space: nowrap;
        color: var(--text-2);

        &:focus,
        &:hover,
        &.active {
          border-bottom: 2px solid var(--text-1);
        }
      }
    }
  }
}

@media ($lg-n-below) {
  .destination .content-wrapper {
    flex-direction: column;
    justify-content: center;
    text-align: center;
    gap: var(--size-7);

    article {
      align-items: center;
    }

    picture {
      max-width: 50%;
    }
  }
  .content {
    justify-content: center;
    align-items: center;
  }
  .destination .content-info {
    width: 100%;
    justify-content: center;
  }
  .dest-nav ul {
    justify-content: center;
  }
}
