@use "@/assets/scss/base/media" as *;

.content > .home {
  background-image: url("@/assets/home/background-home-desktop.jpg");
  background-size: cover;
  width: 100vw;
  min-height: 100vh;
}

main.home .wrapper {
  display: flex;
  position: relative;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-top: 25rem;
  padding-bottom: var(--size-7);
}

header {
  display: flex;
  flex-direction: column;
  // gap: var(--size-5);
}

.explore {
  background-color: var(--text-1);
  color: var(--surface-1) !important;
  padding: calc(var(--size-10) + 24px) var(--size-9);
  border-radius: var(--radius-round);
  font-size: var(--font-size-4);
  font-family: "Bellefair", var(--font-serif);
  text-decoration: none;
  display: grid;
  place-items: center;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ffffff25;
    padding: var(--size-11);
    border-radius: var(--radius-round);
    @media ($motionOK) {
      & {
        transition: all 0.2s linear;
      }
    }
  }

  &:focus,
  &:hover {
    &::before {
      padding: 14rem;
    }
  }
}
