@use "@/assets/scss/base/media" as *;

.content > .home {
  background-image: url("@/assets/home/background-home-desktop.jpg");
  background-size: cover;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

@media ($lg-n-below), ($portrait) {
  .content .home {
    background-image: url("@/assets/home/background-home-tablet.jpg");
  }
}

@media ($sm-n-below) {
  .content .home {
    background-image: url("@/assets/home/background-home-mobile.jpg");
  }
}

.home .wrapper {
  display: flex;
  position: relative;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-top: 25rem;
  padding-bottom: var(--size-7);
}

header {
  display: flex;
  flex-direction: column;

  h1 {
    font-size: 9rem;
  }
}

.explore {
  background-color: var(--text-1);
  border-radius: var(--radius-round);
  color: var(--surface-1) !important;
  display: grid;
  font-family: "Bellefair", var(--font-serif);
  font-size: var(--font-size-4);
  line-height: 0;
  place-items: center;
  position: relative;
  text-decoration: none;
  width: 240px;
  height: 240px;

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ffffff25;
    padding: var(--size-11);
    border-radius: var(--radius-round);
    @media ($motionOK) {
      & {
        transition: all 0.2s linear;
      }
    }
  }

  &:focus,
  &:hover {
    &::before {
      padding: 14rem;
    }
  }
}

@media ($lg-n-below), ($portrait) {
  .home .wrapper {
    flex-direction: column;
    justify-content: center;
    text-align: center;
    gap: var(--size-11);
    align-items: center;
    padding-top: 15rem;

    header {
      gap: var(--size-5);
      align-items: center;

      h1 {
        font-size: 5rem;
      }
    }
  }
}

@media ($sm-n-below) {
  .home .wrapper {
    padding-top: 7.5rem;
    gap: var(--size-9);

    header {
      gap: var(--size-3);

      .header-5 {
        font-size: var(--font-size-2);
      }
    }

    .explore {
      width: 150px;
      height: 150px;
      font-size: var(--font-size-3);

      &::before {
        padding: 5rem;
      }

      &:focus,
      &:hover {
        &::before {
          padding: 7rem;
        }
      }
    }
  }
}
