@use "@/assets/scss/base/media" as *;

.subpage .wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: var(--size-7);
  padding-top: 13.25rem;
  position: relative;

  & > header p span {
    margin-right: var(--size-5);
  }
}
