@use "@/assets/scss/base/media" as *;

.content .tech {
  background-image: url("@/assets/technology/background-technology-desktop.jpg");
  background-size: cover;
  min-height: 100vh;
  width: 100vw;
}

@media ($md-n-below) {
  .content .tech {
    background-image: url("@/assets/technology/background-technology-tablet.jpg");
  }
}

@media ($sm-n-below) {
  .content .tech {
    background-image: url("@/assets/technology/background-technology-mobile.jpg");
  }
}

.tech {
  .content-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: var(--size-11);
    padding-top: var(--size-11);
    align-items: center;
  }

  .content {
    display: flex;
    flex-direction: column;

    .sub-title {
      line-height: var(--font-lineheight-00);
      font-size: var(--font-size-2);
      text-transform: uppercase;
      font-family: "Bellefair", var(--font-serif);
    }

    h1 {
      line-height: var(--font-lineheight-00);
      padding-block: var(--size-3);
      font-size: var(--font-size-5);
      text-transform: uppercase;
    }
  }

  .pagination {
    display: flex;
    flex-flow: column;
    gap: var(--size-5);
    justify-self: flex-start;

    .page {
      background-color: transparent;
      border-radius: var(--radius-round);
      border: 1px solid #ffffff25;
      color: #ffffff;
      display: grid;
      font-family: "Bellefair", var(--font-serif);
      font-size: var(--font-size-4);
      height: 80px;
      line-height: 0;
      place-items: center;
      width: 80px;

      &.active {
        color: var(--surface-1);
        background-color: #ffffff;
        border: 1px solid #ffffff;
      }
    }
  }

  picture {
    position: absolute;
    right: 0;
  }

  @media ($xl-n-below) {
    & .wrapper {
      gap: var(--size-8);
    }
    .page-title {
      order: -1;
    }
    .content {
      .sub-title {
        font-size: 1.5rem;
      }

      h1 {
        font-size: 2.5rem;
      }
    }
    .content-wrapper {
      flex-direction: column;
      justify-content: center;
      text-align: center;
      gap: var(--size-7);
      padding-top: 0;
      order: 1;
    }
    .pagination {
      flex-flow: row;
      gap: var(--size-5);
      justify-self: center;

      .page {
        width: 60px;
        height: 60px;
        font-size: var(--font-size-3);
      }
    }

    picture {
      order: 0;
      position: relative;
      left: calc(45vw - 100vw / 2);
      width: 100vw;

      img {
        width: 100%;
      }
    }
  }
  @media ($sm-n-below) {
    .pagination {
      .page {
        width: 40px;
        height: 40px;
        font-size: var(--font-size-2);
      }
    }
    .content {
      .sub-title {
        font-size: 1rem;
      }

      h1 {
        font-size: 1.5rem;
      }
    }
  }
}
